.caixa{
    background-color:grey;
}

.titulo{
   color:black !important;
   font-weight: bold !important;
}

.botao{
    border-color:mediumspringgreen !important;
    background-color:aqua;
    color:white !important;
}

.postagens{
    background-color:black;
}